@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


/* ---------- Kustomisasi Kotak Notifikasi Sukses (Alert) ---------- */

.alert-success {
    background-color: #F0FDF4 !important;
    /* Hijau super lembut, senada dengan badge kasir */
    color: #15803D !important;
    /* Teks hijau gelap yang matang dan elegan */
    border: 1px solid #BBF7D0 !important;
    /* Border hijau tipis halus */
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding: 12px 16px !important;
    box-shadow: 0 1px 2px 0 rgba(21, 128, 61, 0.02) !important;
    margin-bottom: 24px !important;
}